.sidebar
  .sidebar__header
    .sidebar__header__box
      .sidebar__header__box__user-name
        = current_user.name
      .sidebar__header__box__menu
        =link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'sidebar__header__box__menu__new-group'
        =link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'sidebar__header__box__menu__edit-user'

  .sidebar__main
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            %p.group__name
              = group.name
            .group__latest-message
              = group.show_last_message
.chat-main
  .chat-main-header
    .left-box
      .left-box__current-group{data: {group_id: "#{@group.id}"}}
        = @group.name
      %p.left-box__member-list
        members:
        %i.left-box__member-list__name
          - @group.users.each do |user|
            = user.name 
    .chat-main-edit
      = link_to edit_group_path(@group.id) do
        Edit
  .chat-main__messages
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message__message', placeholder: 'type a message'
      .new_message__aicon
        = f.label :image, class: 'label' do
          = fa_icon 'picture-o', class: 'aicon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'new_message__send'